*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header style start */

.header_section{
    padding: 80px 120px;
    height: 600px;
}
.header_section .left{
    float :left;
    width: 50%;
}
.header_section .left h1{
    font-size: 80px;
}
.header_section .left h1 span{
    font-size: 100px;
    color: brown;
}
.header_section .left p{
    font-size: 25px;
    line-height: 35px;
}
.header_section .right {
    float: right;
    width: 50%;
}
.header_section .right img{
    border-radius: 50%;
    width: 90%;
    
    
}
.button_style{
    font-size: 18px;
    font-weight: 700;
    background-color: #db5456;
    letter-spacing: 2px;
    color: white;
    border: 0;
    padding: 13px 50px;
    margin-top: 40px;
    border-radius: 30px;
}

/* header style end */

/* Breakfast style start */
.breakfast_section{
    background-color: #eee;
    padding: 80px 120px;
    height: 660px;
}
.card{
    float: left;
  width: 30%;
}
.breakfast_card{
    width: 350px;
    background-color: #fff;
    height: 400px;
    padding: 40px;
    margin: 50px 0 0 20px;
    position: absolute;
}
.breakfast_card h2{
    font-size: 35px;
}
.breakfast_card p{
    margin-top: 15px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 2px;
}
.breakfast_pic{
    float: right;
    width: 50%;
}
.breakfast_pic img{
    width: 600%;
    height: 500px;
}
/* Breakfast style end */

/* fast food style start */
.fast_food_section{
    height: 650px;
    width: 100%;
    background-image: url("./pic/fastfood.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
}
.fast_food_sentence{
    padding: 200px 120px;
}
.fast_food_sentence p{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
}
.fast_food_sentence h1{
    font-size: 70px;
}

/* fast food style end */
/* Delivert style start */
.delivery_section{
    height: 660px;
    width: auto;
    padding: 80px 100px;
}
.delivery_pic{
    float: left;
    width: 50%;
    text-align: center;
}
.delivery_section img{
    width: 90%;
    border-radius: 50%;
}
.delivery_card_container{
    background-color: #eeeeee;
    width: 50%;
    height: 500px;
    float: right;
}
.delivery_card{
    padding: 80px;
}
.delivery_card h2{
    font-size: 45px;
}
.delivery_card p{
    margin-top: 15px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 2px;
}

/* Delivert style End */

/* footer section start */
.footer_section{
    background-color: #000;
    color: #fff;
    height: 80vh;
    padding: 80px 120px;
}
.foother_picture{

    float: left;
    width: 50%;
}
.foother_picture img{
    width: 100%;
    
    
}
.footer_content{
    text-align: center;
    float: right;
    width: 40%;
}
.footer_content .title{
    font-size: 24px;
    font-weight: 500;
}
.footer_section form input{
    padding: 20px;
    width: 250px;
    border: none;
    border-bottom: 5px solid rgb(255, 254, 254);;
}
.submit_btn{
    border-radius: 0;
}
.address{
    margin-top: 40px;
}
.address h3{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 20px 0;
}
.address ul li{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 5px 0;
    list-style: none;
}
.email_fild{
    background-color: #000;
    color: #ddd;
}
/* footer section End */